

body {
    font-family: Arial, Helvetica, sans-serif

}

.container {
    width: 80%;
    margin: 0 auto;
}



.text-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}

